<body style="background: url(https://i.imgur.com/b3akcoP.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background Artist/Creator: TheDigitalArtist from Pixabay.com ––>

<h1>Edit Emotion</h1>

<%= form_for @emotion do |f| %>
    <h3><%= f.label :name %> <%= f.text_field :name %><br></h3><br>
  
    <%= f.submit "Bottle Your Emotion" %>

<% end %>