<body style="background: url(https://i.imgur.com/b3akcoP.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background Artist/Creator: TheDigitalArtist from Pixabay.com ––>

<h1>Memory Emotions:</h1>

<% @emotions.each do |emotion| %>
  <h3>"<%= emotion.name_capitalized %>" <%= link_to 'View Memories', emotion_path(emotion) %></h3><br><br>
<% end %>

<%= render '/memories/to_memories' %><br>

<%= render 'static/to_home' %><br>