<body style="background: url(https://i.imgur.com/5IdMNor.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<h1>Edit Player</h1>

<%= form_for @player do |f| %>
    <h3><%= f.label :name %> <%= f.text_field :name %><br></h3><br>
  
    <%= f.submit "Bottle Your Player" %>

<% end %>