<body style="background: url(https://i.imgur.com/5IdMNor.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<h1>People/Pets from Memories:</h1><br>

<% @players.each do |player| %>
  <h3>"<%= player.name_capitalized_and_split %>" <%= link_to 'View Memories', player_path(player) %></h3><br>
<% end %>

<%= render '/memories/to_memories' %><br>

<%= render 'static/to_home' %>